<section id="features" class="features">
<div class="container" data-aos="fade-up">
<ul class="nav nav-tabs row d-flex">
<li class="nav-item col-3"><a class="nav-link active show" href="#tab-1" data-bs-toggle="tab"> <em class="ri-gps-line">&nbsp;</em>
<h4 class="d-none d-lg-block">Cullinan Systems</h4>
</a>Nov 2020 - 30 Apr 2023</li>
<li class="nav-item col-3"><a class="nav-link" href="#tab-2" data-bs-toggle="tab"> <em class="ri-body-scan-line">&nbsp;</em>
<h4 class="d-none d-lg-block">4-Sure.net</h4>
</a>Jun 2019 - Mar 2020</li>
<li class="nav-item col-3"><a class="nav-link" href="#tab-3" data-bs-toggle="tab"> <em class="ri-sun-line">&nbsp;</em>
<h4 class="d-none d-lg-block">Tangent Solutions</h4>
</a>Mar 2018 - Nov 2018</li>
<li class="nav-item col-3"><a class="nav-link" href="#tab-4" data-bs-toggle="tab"> <em class="ri-store-line">&nbsp;</em>
<h4 class="d-none d-lg-block">MiServe</h4>
</a>Mar 2016 - Jun 2017</li>
</ul>
<div class="tab-content">
<div id="tab-1" class="tab-pane active show">
<div class="row">
<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
<h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
<p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
</ul>
<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>
<div class="col-lg-6 order-1 order-lg-2 text-center"><img class="img-fluid" src="../media/img/features-1.png" alt=""></div>
</div>
</div>
<div id="tab-2" class="tab-pane">
<div class="row">
<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
<h3>Django / Python Developer and Tester</h3>
<p><strong>Pycharm</strong> First time I was forced to intimately grasp Pycharm and loved it. From setting up the virtual environment to running tests against the code-base and database. Still used command line for Git but ended up creating tests to run against any client instance.</p>
<p><strong>Fault Finding and bug fixing</strong> Logging the functionality of a Class, Function or endpoint has become my top priority for one reason: the logged information can be used to create tests for that particular code. That means not only is it easier to create the test i.e. not faked and valid from front-end, once the test is using the logged data, you essentially start testing the developers use the correct data and receive valid errors or returned data.</p>
<p><strong>PyTest</strong> I found out the hard way that testing actually helps. Before adjusting a single letter of code, write a basic test to hit the endpoint/function and check the returned data. If needed inject test data. Can be tricky if you need to save or test against a database. Use Pycharm to manage the different tests.</p>
<p><strong>BUGS</strong> Every minor bug came through me. Replicating the error was task one. Which was a test and then fixing it was easier. Trawling error logs to find clues and context was key. First the client, the environment, Development, Staging or LIVE and a claim number. All major traffic was focused on two main endpoints or Classes. Create and Update.</p>
<h3>Tools</h3>
<ul>
<li><em class="ri-check-double-line">&nbsp;</em>Git.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Django rest API</li>
</ul>
</div>
<div class="col-lg-6 order-1 order-lg-2 text-center"><img class="img-fluid" src="../media/img/4sure.png" alt=""></div>
</div>
</div>
<div id="tab-3" class="tab-pane">
<div class="row">
<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
<h3>Tangent Solutions (Pty) Ltd - Junior Consultant</h3>
<p>Introduction Docker and Kubernetics. Could build basic images and run images. I see the potential but lack the ambition to dive deeper. Instead moved towards pythonanywhere.com for hosting. Contracted out to VumaTel for development on their backend. At VumaTel we developed their backend using Django and Ansible to automate deployment. In the office, I was exposed to Laravel.</p>
</div>
<div class="col-lg-6 order-1 order-lg-2 text-center"><img class="img-fluid" src="../media/img/features-3.png" alt=""></div>
</div>
</div>
<div id="tab-4" class="tab-pane">
<div class="row">
<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
<h3>Mi Serve / Partner It Specialist / Systems engineer</h3>
<p>Main job description is to develop and maintain Django/Wordpress websites but not only limited to development of the web base. Develop and maintain servers, wireless and Fibre networks, customer support and all other aspects of the I.T. environment. Not limited to data recovery, computer repair and maintenance, Linux based open source knowledge base, MAC development and training, windows resource manager.</p>
<p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
</ul>
</div>
<div class="col-lg-6 order-1 order-lg-2 text-center"><img class="img-fluid" src="../media/img/features-4.png" alt=""></div>
</div>
</div>
</div>
</div>
</section>