<section id="features" class="features">
<div class="container" data-aos="fade-up">
<ul class="nav nav-tabs row d-flex">
<li class="nav-item col-3"><a class="nav-link active show" href="#tab-1" data-bs-toggle="tab"> <em class="ri-gps-line">&nbsp;</em>
<h4 class="d-none d-lg-block">Modi sit est dela pireda nest</h4>
</a></li>
<li class="nav-item col-3"><a class="nav-link" href="#tab-2" data-bs-toggle="tab"> <em class="ri-body-scan-line">&nbsp;</em>
<h4 class="d-none d-lg-block">Unde praesenti mara setra le</h4>
</a></li>
<li class="nav-item col-3"><a class="nav-link" href="#tab-3" data-bs-toggle="tab"> <em class="ri-sun-line">&nbsp;</em>
<h4 class="d-none d-lg-block">Pariatur explica nitro dela</h4>
</a></li>
<li class="nav-item col-3"><a class="nav-link" href="#tab-4" data-bs-toggle="tab"> <em class="ri-store-line">&nbsp;</em>
<h4 class="d-none d-lg-block">Nostrum qui dile node</h4>
</a></li>
</ul>
<div class="tab-content">
<div id="tab-1" class="tab-pane active show">
<div class="row">
<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
<h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
<p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
</ul>
<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
</div>
<div class="col-lg-6 order-1 order-lg-2 text-center"><img class="img-fluid" src="../media/img/start/facts.png" alt=""></div>
</div>
</div>
<div id="tab-2" class="tab-pane">
<div class="row">
<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
<h3>Neque exercitationem debitis soluta quos debitis quo mollitia officia est</h3>
<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
<p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
</ul>
</div>
<div class="col-lg-6 order-1 order-lg-2 text-center"><img class="img-fluid" src="../media/img/start/facts1.png" alt=""></div>
</div>
</div>
<div id="tab-3" class="tab-pane">
<div class="row">
<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
<h3>Voluptatibus commodi ut accusamus ea repudiandae ut autem dolor ut assumenda</h3>
<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
<ul>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Provident mollitia neque rerum asperiores dolores quos qui a. Ipsum neque dolor voluptate nisi sed.</li>
</ul>
<p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="col-lg-6 order-1 order-lg-2 text-center"><img class="img-fluid" src="../media/img/start/facts2.png" alt=""></div>
</div>
</div>
<div id="tab-4" class="tab-pane">
<div class="row">
<div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
<h3>Omnis fugiat ea explicabo sunt dolorum asperiores sequi inventore rerum</h3>
<p>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
<p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
<li><em class="ri-check-double-line">&nbsp;</em> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
</ul>
</div>
<div class="col-lg-6 order-1 order-lg-2 text-center"><img class="img-fluid" src="../media/img/start/facts3.png" alt=""></div>
</div>
</div>
</div>
</div>
</section>