<div class="container d-flex align-items-center justify-content-between">
<h1 class="logo"><a href="../">Python Solutions</a></h1>
<!-- Uncomment below if you prefer to use an image logo --> <!-- <a href="index.html" class="logo"><img src="/media/img/logo.png" alt="" class="img-fluid"></a>--><nav id="navbar" class="navbar">
<ul>
<li><a class="nav-link scrollto active" href="#hero">Home</a></li>
<li><a class="nav-link scrollto" href="#about">About</a></li>
<li class="dropdown"><a href="#">Quick Links <em class="bi bi-chevron-down">&nbsp;</em></a></li>
<li><a class="nav-link scrollto" href="#contact">Contact</a></li>
</ul>
<em class="bi bi-list mobile-nav-toggle">&nbsp;</em></nav><!-- .navbar --></div>